@model IEnumerable<ITAssetManager.Web.Models.LicenseAssignment>


@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SoftwareProduct)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoftwareProduct.LicenseKey)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoftwareProduct.SeatsPurchased)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoftwareProduct.SeatsAssigned)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoftwareProduct.PurchaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoftwareProduct.ExpiryDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.SoftwareProductId)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.SoftwareProduct.LicenseKey)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.SoftwareProduct.SeatsPurchased)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.SoftwareProduct.SeatsAssigned)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.SoftwareProduct.PurchaseDate)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.SoftwareProduct.ExpiryDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
